@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family:'Rubik'
}


.progress-button[data-perspective] .content { /*test string*/
    background: rgba(55,55,55,1);
    border: 1px solid #16FF00!important;
    border-radius: 4px;
    box-shadow: inset 0 0 4px 0 #16FF00, 0 0 4px 0 #16FF00;
}
.bg-success {
    background: rgba(0,0,0,0)!important;
}

.hide-on-mobile strong {
    color:rgb(255,255,255);
}
#menu-form div { /*Game Desc*/
    color:rgb(255, 255, 255)!important;
}

/* MODAL CONTENT */
.modal-content {
    background-color: rgba(40,40,40, 0.9);
    border: solid 6px rgba(28, 28, 28, .75);
    border-radius:8px;
}

.modal-content div.modal-header, .modal-content div.modal-body {
    color:white;
}

.modal-content div.border-top { /*Removes top border of a modal content*/
    border-top:unset!important;
}

.item-shop-button div div.no-selection small { /*Shop item name*/
    color:white;
    background-color:unset;
}

.item-shop-button div.bg-light-green { /* Item BG when all requirements are met */
    background-color: rgb(78, 141, 76);
    border:4px solid rgba(34, 85, 34, .85)
}
.item-shop-button div.bg-light-red { /* Item BG when all requirements are not met */
    background-color: rgb(137, 73, 73);
    border:4px solid rgba(83, 33, 33, .85)
}

/*DISMISS BUTTON*/
#modd-item-shop-dismiss-button {
    background-color:rgb(209, 71, 71);
    border-radius:6px;
    margin-top:-0.5rem;
    margin-bottom:-0.5rem;
    margin-right:-0.5rem;
    line-height:0.5;
    font-size:1.5rem;
}

#modd-item-shop-dismiss-button span {
    color:white;
    text-shadow:unset;
}

#item-shop-modal ul.item-shop-navbar { /*We don't need navigation bar.*/
    display:none;
}

#modd-item-shop-header { /*Shop header*/
    color:white;
    font-weight:600;
    font-size:22px;
}

.modal-header div span.player-coins { /*plr coins*/
    display:none;
}

.modal-header { /* Header of the modal */
    border-bottom:unset;
    background-color:rgba(0,0,0,0.3);
}



/*----------------------MAIN UI----------------------*/
#leaderboard { /*LEADERBOARD*/
    background-color: rgba(35,35,35,0.7);
    border: 4px solid rgba(22, 22, 22, .7);
    border-radius: 8px;
}

/*----------- BOTTOM RIGHT UI ----------*/

#my-score-div {
	width:auto;
	left:unset;
	right:40px;
    background-color: rgba(35,35,35,0.7);
    border: 4px solid rgba(22, 22, 22, .7);
}

#__next > div[style="position:absolute;right:0px;bottom:0px;text-align:right;width:240px"] {
	width:auto!important;
	right:5px!important;
}


.list-group-item {
    background: linear-gradient(0deg, rgba(80,80,80,0.75) 0%,rgba(60,60,60,0.75) 100%);
}

.list-group-item span {
    color:rgb(255,255,255);
    text-shadow: 0 0 0 rgba(0,0,0,0);
    transition: text-shadow 0.4s cubic-bezier(.38,0,.29,1) 0.05s;
}

.list-group-item i {
    color:rgb(255,255,255);
    text-shadow: 0 0 0 rgba(0,0,0,0);
    transition: text-shadow 0.4s cubic-bezier(.38,0,.29,1) 0.05s;
}

.list-group-item:hover span {
    text-shadow: 3px 3px 4px #fff;
}
.list-group-item:hover i {
    text-shadow: 3px 3px 4px #fff;
}
.d-inline {
    color:rgb(255,255,255);
}
.player-coins {
    text-shadow: 0 0 6px #000;
}
#login-div::after {
    content: "Project: Lary";
    opacity:0.1;
}

.inventory-slot {
    margin-right:2px;
    margin-left:2px;
    border-radius:8px;
    background-color:rgba(37, 37, 37, .9);
    border: 3px solid rgba(26, 26, 26, .9);
}
.inventory-slot.active {
    background-color:rgba(37, 85, 37, .9);
    border: 3px solid rgba(28, 71, 18, .9);
}

.inventory-slot div small.quantity {
    left:4px;
    right:unset;
    text-align:left;
}

#inventory-slots-key-stroke {
    transform:translate(3%,240%)
}
#inventory-slots-key-stroke div > p > small {
    color:rgba(255,255,255,0.5)!important;
}

/* ATTRIBUTE BARS */
#attribute-bars div.progress {
    background-color:rgba(53, 53, 53, .75);
    border:solid 3px rgba(44, 44, 44, .75);
}
#attribute-bars div.progress div.label { /*Attribute Label*/
    color:white!important;
    text-shadow:-1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
}

/*-------------DIALOGUE-------------*/

#modd-dialogue-options button {
    background-color:rgb(73, 73, 73);
    border:2px solid rgb(66, 66, 66)!important
}

#modd-dialogue-options button:hover {
    background-color:rgb(93, 93, 93);
}

#modd-dialogue-options button span {
    color:white
}


/*--------------TOOLTIP---------------*/
.popover {
    max-width: 400px!important;
    background-color:rgba(55, 55, 55, .77);
    border: solid 3px rgba(33, 33, 33, .77);
    border-radius:5px;
}

.popover-body > div > div.caption > h4 {
    color:white;
    font-weight:700
}

.popover div.arrow {
    display:none;
}

.popover div.popover-body div p {
    color:white;
}

/*div.ui-text-top { text-shadow:1px 1px 1px black, 0 0 30px rgba(172, 66, 255, 1), 0 0 6px rgb(98, 42, 142); font-weight:600; font-size:24px;}*/

div.ui-text-top {
    background-color: rgba(35,35,35,0.7);
    border: 4px solid rgba(22, 22, 22, .7);
}


/*----------------MENU----------------*/

div.server-list-container label {color:white} /* server list label */

#server-dropdown-container select {
    background-color:rgb(53, 53, 53);
    color:white;
    border:3px solid rgb(40,40,40)
}


div.white-bg, #user-div > div.card { /* main menu and player card */
    background-color: rgba(52, 52, 52, .8);
    border: 4px solid rgba(39, 39, 39, .75);
    border-radius: 6px;
}

/*--------- ATTRIBUTE CUSTOM LABELS ---------*/

	/* POINTS */
		.pt-attribute-points {
			display:none
		}

		.pt-attribute-value-points::after {
			content: " Points";
			font-size: 20px;
			color:rgb(249, 255, 146)
		}

	/* SPEED MULTI */
		.pt-attribute-UvOpuABaRI {
			display:none
		}

		.pt-attribute-value-UvOpuABaRI::after {
			content: " Speed";
			font-size: 20px;
			color:rgb(132, 201, 255)
		}

		.pt-attribute-value-UvOpuABaRI::before {
			content: "x";
		}

	/* INFECTED */
		.pt-attribute-BZtQiA4E1U {
			display:none
		}

		.pt-attribute-value-BZtQiA4E1U::after {
			content: " Infections";
			font-size: 20px;
			color:rgb(255, 124, 105)
		}

	/* TIME SURVIVED */
		.pt-attribute-iwXgQYS2tI {
			display:none
		}

		.pt-attribute-value-iwXgQYS2tI::after {
			content: "s Survived";
			font-size: 20px;
			color:rgb(206, 194, 255)
		}
